body {
    margin: 0;
    font-family: sans-serif;
}

.section {
    min-height: 100vh; /* Ensure sections are tall enough to scroll */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    transition: background-color 0.5s ease; /* Smooth transition for background color */
}

.blue-bg {
    background-image:url(https://i.pinimg.com/originals/e2/51/8d/e2518d95650a210d017d37c54d26c8da.gif)
}

.green-bg {
    background-color: #2ecc71;
}

.red-bg {
    background-color: #e74c3c;
}
